@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
}

.text-editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
}

.text-editor::before {
    position: absolute;
    color: #999;
    pointer-events: none;
}

.text-editor:focus::before {
    display: none;
}

.text-editor.empty::before {
    content: attr(placeholder);
    position: absolute;
    color: #999;
    pointer-events: none;
}

.text-editor:focus.empty::before {
    display: none;
}

.hoverable:hover {
    /* Add your styles here */
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.toast-error {
    background: linear-gradient(to right, #e7cbc8, #ea4335);
    color: white;
    font-family: 'Economica', sans-serif;
}

.toast-info{
    background: linear-gradient(to right, mediumseagreen, rgba(0, 128, 0, 0.4));
    color: white;
    font-family: 'Economica', sans-serif;
}